.titulo{
    width: 100%;
    height: auto;
    text-align: center;
    display: block;
}

.cuestionario{
    text-align: center;
}

.info{
    text-align: center;
    background-color: rgb(198, 204, 198);
}

.piedepagina{
    text-align: center;
    background-color:#34495E;
    color: #ECF0F1;
    padding-top: 1rem; 
    padding-bottom:1rem;
}

.logos img{
    height: 45px;
    width: 45px;
}
